<div
  style="
    background-image: url(https://static.wixstatic.com/media/77ac37_aa85b89587dc4f4dbeee136cebaba77b~mv2.jpg/v1/fill/w_1500,h_1244,al_c,q_85/6a2bfc_9f34e81105914900b3280a799c70ec7f~mv2.png);
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div style="border: 1px solid black; padding: 10px">
    <h2>Quienes somos</h2>
    <p style="text-align: justify">
      Es una estructura autónoma e independiente de todas las demás ramas del
      Estado, que tiene a su cargo la misión de garantizar la legitimidad,
      transparencia y efectividad del proceso electoral. La organización
      electoral es responsable de realizar las elecciones, efectuar los
      escrutinios y expedir las credenciales correspondientes a los candidatos
      que resulten elegidos. Supervisa que los resultados finales reflejen la
      voluntad que los electores han depositado en las urnas, protege su libre
      ejercicio del voto y les otorga plenas garantías con total imparcialidad e
      independencia de cualquier partido o grupo político.
    </p>
  </div>
  <br />
  <div style="border: 1px solid black; padding: 10px">
    <h2>Mision</h2>
    <p style="text-align: justify">
      La misión de la RNEC se encuentra establecida en el artículo 4 del Decreto
      1010 de 2000, en los siguientes términos: Es misión de la Registraduría
      Nacional del Estado Civil garantizar la organización y transparencia del
      proceso electoral, la oportunidad y confiabilidad de los escrutinios y
      resultados electorales, contribuir al fortalecimiento de la democracia
      mediante su neutralidad y objetividad, promover la participación social en
      la cual se requiera la expresión de la voluntad popular mediante sistemas
      de tipo electoral en cualquiera de sus modalidades, así como promover y
      garantizar, en cada evento legal en que deba registrarse la situación
      civil de las personas, que se registren tales eventos, se disponga de su
      información a quien deba legalmente solicitarla, se certifique mediante
      los instrumentos idóneos establecidos por las disposiciones legales y se
      garantice su confiabilidad y seguridad plenas. (Decreto 1010 de 2000,
      énfasis añadido)
    </p>
  </div>
  <br />
  <div style="border: 1px solid black; padding: 10px">
    <h2>Vision</h2>
    <p style="text-align: justify">
      La RNEC será, en 2023, una institución que les facilite la vida a los
      colombianos gracias al rediseño de su arquitectura organizacional, al uso
      estratégico de nuevas tecnologías para el cumplimiento de sus misiones y a
      la adopción de una nueva cultura organizacional de atención que esté
      centrada en el ciudadano como principal fuente de creación de valor
      público. Asimismo, la entidad gozará de una mejor reputación, pues habrá
      contribuido activamente a simplificar los trámites de registro civil e
      identificación, a modernizar las elecciones, a fortalecer la democracia
      colombiana, a reducir el abstencionismo electoral, a consolidar el nuevo
      sistema de democracia juvenil y a mitigar el cambio climático con un
      modelo de operación respetuoso del medio ambiente.
    </p>
  </div>
</div>
